<div class="admin__contributors" id="discInfo" *ngIf="isFullAdmin()">
  <h4>Contributors</h4>
  <hr>
  <div class="disc__contributor" *ngFor= "let user of contributors">
    <button class="badge-danger btn-kick" (click)="onRemoveContributor(user.username)" >
      Kick</button>
      {{user.username}}
  </div>
</div>

<div class="admin__contributors" id="discInfo" *ngIf="!isFullAdmin()">
    <h4>Contributors</h4>
    <hr>
    <ul>
      <div class="disc__contributor" *ngFor= "let user of contributors">
          <li>{{user.username}}</li>
      </div>
    </ul>
</div>

<div class="disc__body">
  <div class="card mx-auto">

    <div class="card-header">
      <h1 class="panel-heading text-center">
        {{room}} Discussion</h1>
      <br>
    </div>

      <div class="card-body" #scrollmessages [scrollTop]="scrollmessages.scrollHeight">
        <div class="panel panel-primary">
          <div class="panel-body message" >
            <div id="output" *ngFor="let message of messages">
              <div class="incoming_msg" *ngIf="message.sender !== user.username">
                <div class="incoming_msg_img"> 
                  <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> 
                </div>
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <p>{{message.message}}</p>
                    <span class="time_date">{{message.messageDate | date:'medium'}} | {{message.sender}}</span>
                  </div>
                </div>
              </div>
              <div class="outgoing_msg" *ngIf="message.sender === user.username">
                <div class="sent_msg">
                  <p>{{message.message}}</p>
                  <span class="time_date"> {{message.messageDate | date:'medium'}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card-footer">
        <i class="material-icons" style="vertical-align:bottom">keyboard</i>
        <input type="text" class="form-control disc__input-message" id="message" placeholder="New Message" [(ngModel)]="newMessage" (keypress)="enterSend($event)" mdbActive>
        <button class="btn-outline-warning btn-send"  id="send" (click)="send()">
          <i class="material-icons align-middle">send</i>
        </button>
      </div>

  </div>
</div>

<form *ngIf="isFullAdmin()" class="formGroup add__contributor" novalidate (ngSubmit)="onAddContributor(contributor)" [formGroup]="contributor" >
  <p class="h5 text-center mb-4">Add Contributor</p>
    <input type="text" id="orangeForm-name" class="form-control" placeholder="Contributor Username" formControlName="username" mdbActive #nameInput>
<br>
  <div class="text-center">
    <button class="btn btn-deep-orange waves-light" type="submit" mdbRippleRadius>Add</button>
  </div>
</form>