<div class="card">
  <div class="card-header">
    <h1 class="panel-heading">
      Discussions </h1>
  </div>
  <div class="card-body">
    <div class="panel panel-primary">
      <div class="panel-body message">
        <div class="list-group" *ngFor="let disc of discussions">
          <a class="list-group-item"
             [routerLink]="['/discussions/discussion']"
             [queryParams] = "{room : disc.name}">
            <span>{{disc.name}}</span>
            <label class="badge badge-warning disc__contributors">
              Contributors:{{disc.contributors.length}}
            </label>
          </a>
          <button class="delete-btn" (click)="onDeleteDiscussion(disc)" >
            <i class="material-icons prefix" style="vertical-align:bottom;">delete</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

