<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body>
  <div class="wrapper">
    <nav id="sidebar" [ngClass]="sideStatus">
      <div class="sidebar-header">
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" >
          <i class="material-icons  align-middle">group_work</i>
          FabLabs
          <i class="material-icons align-middle">keyboard_arrow_down</i> </a>

        <ul class="collapse list-unstyled" id="pageSubmenu"> <br>
          <li *ngFor = "let group of groups"  >
            <div *ngIf="group.parent_id === this.rootId">
              <a [routerLink]="['/repotree']"
                 [queryParams] = "{full_path : group.full_path}">
                 {{group.name}} </a>
            </div>
          </li>
        </ul>
      </div>



      <div class="sidebar-header">
        <a href="#mailSubmenu" data-toggle="collapse" aria-expanded="false" >
          <i class="material-icons  align-middle">mail</i>
          Messages
          <i class="material-icons align-middle">keyboard_arrow_down</i> </a>

        <ul class="collapse list-unstyled" id="mailSubmenu"> <br>

          <li>
            <div>
              <a [routerLink]="['/messages/compose']"
                 [queryParams] = "{full_path : h}">
                Compose Message </a>
            </div>
          </li>

          <li>
            <div>
              <a [routerLink]="['/messages/inbox']"
                 [queryParams] = "{full_path : h}">
                Inbox </a>
            </div>
          </li>

          <li>
            <div>
              <a [routerLink]="['/messages/sentbox']"
                 [queryParams] = "{full_path : h}">
                Sent Box </a>
            </div>
          </li>

        </ul>
      </div>




      <ul class="list-unstyled components">
        <li> <a href="#">About</a> </li>
        <li> <a href="#">Contact</a> </li>
      </ul>
    </nav>

    <div id="content">
      <router-outlet></router-outlet>
    </div>
  </div>

</body>

</html>
