<div class="divider" style="padding-top:80px;"></div>
<div class="container">
  <div class="myContainer">
    <div class="card card-signin w-70" >
      <div class="card-body">


        <!-- Login form -->
        <form class="form-signin" novalidate>

          <p class="h3 text-center mb-4">Log in</p>
          <div class="col-auto">
          <div class="md-form">
              <i class="material-icons prefix">email</i>

              <input class="form-control" type="text" id="defaultForm-email" placeholder="email" mdbActive #emailInput>
              <br>
          </div>

          <div class="md-form">
            <i class="material-icons prefix">lock</i>

            <input class="form-control" type="password" id="defaultForm-pass" placeholder="password" mdbActive #passwordInput>
            <br>
          </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-info waves-light" (click)="onLogIn() ">Login</button>
          </div>
        </form>
        <!-- Login form -->

      </div>
    </div>
  </div>
</div>
