<br><br>
<div class="container">
  <div class = "panel panel-primary">
    <h1 class="panel-heading">Files</h1>
    <div class="panel-body">
      <div>
        <ul class="list-group">
          <a [routerLink]="['/repofile']"
             [queryParams] = "{project_id : this.project_id , path : file.path }"
             class="list-group-item" *ngFor = "let file of files">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="list-group-item-heading">{{file.name}}</h5>
              <span class="badge badge-primary badge-pill">{{file.path}}</span>
          </div>
            <small>{{file.id}}</small>
          </a>
        </ul>
      </div>
    </div>
  </div>
</div>
