<div class="divider" style="padding-top:50px;"></div>
<div class="container">
  <div class="myContainer">

    <div class="card card-signup">
      <div class="card-body">


        <!--Register form-->
        <form class="form" novalidate>

          <p class="h5 text-center mb-4">Sign up</p>

          <div class="md-form mb-0">
            <div class="row">
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <i class="material-icons prefix">face</i>
                  <input type="text" id="orangeForm-firstName" class="form-control" placeholder="first name" mdbActive #firstNameInput>
                </div>
              </div>

              <div class="col-md-6">
                <div class="md-form mb-0">
                  <i class="material-icons prefix">face</i>
                  <input type="text" id="orangeForm-role" class="form-control" placeholder="role" mdbActive #roleInput>
                </div>

                <!--<div class="dropdown">-->
                  <!--<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">-->
                    <!--Role-->
                  <!--</button>-->
                  <!--<div class="dropdown-menu">-->
                    <!--<li><a href="#">CEO</a></li>-->
                    <!--<li><a href="#">Accountant</a></li>-->
                  <!--</div>-->
                <!--</div>-->


              </div>
            </div>
          </div>

          <div class="md-form">
            <i class="material-icons prefix">mail</i>
            <input type="text" id="orangeForm-email" class="form-control" placeholder="email" mdbActive #emailInput>

          </div>

          <div class="md-form">
            <i class="material-icons prefix">lock</i>
            <input type="password" id="orangeForm-pass" class="form-control" placeholder="password" mdbActive #passwordInput>

          </div>

          <div class="md-form">
            <i class="material-icons prefix">lock</i>
            <input type="password" id="orangeForm-passConfirm" class="form-control" placeholder="confirm password" mdbActive #confirmedPasswordInput>

          </div>

          <div class="md-form">
            <i class="material-icons prefix">phone</i>
            <input type="number" id="orangeForm-phone" class="form-control" placeholder="mobile number" mdbActive #phoneInput>

          </div>

          <div class="md-form">

            <div class="md-form mb-0">
              <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-4 col-4">
                  <i class="material-icons prefix">people</i>

                </div>

                <div class="col-lg-2 col-md-2 col-sm-4 col-4 pt-3 form-check form-check-radio">
                  <div class="md-form mb-0">
                    <label> Male
                      <input type="checkbox" #maleInput>
                    </label>
                  </div>
                </div>

                <div class="col-lg-8 col-md-8 col-sm-4 col-4 pt-3 form-check form-check-radio ">
                  <div class="md-form mb-0">
                    <label> Female
                      <input type="checkbox" #femaleInput>
                    </label>
                    <br>
                  </div>
                </div>

              </div>
            </div>

          </div>

          <div class="text-center">
            <button class="btn btn-deep-orange waves-light" type="submit" (click)="onSignUp()" mdbRippleRadius>Sign up</button>
          </div>


        </form>

      </div>
    </div>
  </div>
</div>

