<br>
<div class="card">
  <div class="card-header">
    <h1 class="panel-heading">
      Pending Users</h1>
    <br>
  </div>
  <div class="card-body">


    <div class="panel panel-primary">
      <div class="panel-body message">

        <div class="list-group" *ngFor="let user of pendingUsers">

          <a class="list-group-item">

            <div class="float-right">

              <a class="badge badge-danger float-right" (click)="onRejectUser(user)" >
                <i class="material-icons prefix">highlight_off</i>
              </a>

              <a class="badge badge-primary " (click)="onAcceptUser(user)" >
                <i class="material-icons prefix">check_circle_outline</i>
              </a>

              <br><br>
              <label class="badge badge-warning float-right">
                {{user.phone}}
              </label>
            </div>

            <span class="name" style="min-width: 120px;display: inline-block;">
                  Name : {{user.name}}
            </span> <br>

            <span class="">
                  Role : {{user.role | capitalizeRole}}
            </span> <br>

            <span class="text-muted" style="font-size: 11px;">
                  Email : {{user.email}}
            </span>

          </a>
          <br>
        </div>



      </div>
    </div>


  </div>
</div>


