<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">



</head>

<body>
<app-header (toggleClicked)="onToggle($event)"></app-header>

<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar" [ngClass]="status">
    <div class="sidebar-header">

      <h4 class="text align-right">
          <img src="/assets/Fablab_logo.png" width="35" height="35" class="d-inline-block align-middle" alt="">
        FabLab</h4>
    </div>

    <ul class="list-unstyled components">


      <li>
        <a href="#">About</a>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="#">Page 1</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Portfolio</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>

  </nav>

  <!-- Page Content Holder -->
  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- jQuery CDN - Slim version (=without AJAX) -->

</body>

</html>
