
<br>

<div class="card">
  <div class="card-header">
    <h1 class="panel-heading">
      Inbox</h1>
    <br>
  </div>
  <div class="card-body">


    <div class="panel panel-primary">
      <div class="panel-body message">



            <div class="list-group">
              <a href="#" class="list-group-item">

                <span class="glyphicon glyphicon-star-empty"></span><span class="name" style="min-width: 120px;
                                            display: inline-block;">Bhaumik Patel</span> <span class="">This is big title</span>
                <span class="text-muted" style="font-size: 11px;">- Hi hello how r u ?</span>
                <label class="badge badge-warning float-right">12:10 AM</label>
              </a>


              <a href="#" class="list-group-item">

                <span class="glyphicon glyphicon-star-empty"></span><span class="name" style="min-width: 120px;
                                            display: inline-block;">Bhaumik Patel</span> <span class="">This is big title</span>
                <span class="text-muted" style="font-size: 11px;">- Hi hello how r u ?</span>
                <label class="badge badge-warning float-right">12:10 AM</label>
              </a>
            </div>



      </div>
    </div>


  </div>
</div>


