
<br>

<div class="card">
  <div class="card-header">
    <h1 class="panel-heading">
      Inbox</h1>
    <br>
  </div>
  <div class="card-body">


    <div class="panel panel-primary">
      <div class="panel-body message">

            <div class="list-group" *ngFor="let message of receivedMessages">

              <a class="list-group-item">
                <span class="name" style="min-width: 120px;display: inline-block;">
                  From : {{message.sender}}
                </span> <br>

                <span class="">
                  Subject : {{message.subject}}
                </span> <br>

                <span class="text-muted" style="font-size: 11px;">
                  Message : {{message.message | contentPeek }}
                </span>

                <label class="badge badge-warning float-right">
                  {{message.messageDate | date:'medium'}}
                </label>
              </a>

            </div>

      </div>
    </div>


  </div>
</div>


