<nav class="navbar navbar-expand-lg navbar-dark" >
  <a class="navbar-brand" href="">
    <img src="/assets/Fablab_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    FabLab</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"></ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="/login">Log In </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Sign Up </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/repotree">Gitlab </a>
      </li>
    </ul>
  </div>
</nav>
