<div class="card mx-auto" style="width: 36rem;">
  <div class="card-body">
    <p class="card-text" id="sender">From : {{messageBody.sender}} </p>
    <p class="card-text" id="subject">Subject : {{messageBody.subject}} </p>
    <p class="card-text" id="date">Date : {{messageBody.messageDate | date:'medium'}} </p>
    <br>
    <h4> Message: </h4>
    <br>
    <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
      <h5 id="text"></h5>
    </div>
  </div>

</div>
