
<div class="container">

  <div class = "panel panel-primary">
    <h1 class="panel-heading">Commits</h1>
    <br>
    <div class="panel-body">
      <div>
        <ul class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action" *ngFor = "let commit of commits">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="list-group-item-heading">{{commit.title}}</h5>
              <h6 class="list-group-item-heading">{{commit.author_name}}</h6>
              <span class="badge badge-warning badge-pill">
                  <i class="material-icons prefix">get_app</i>
                </span>
            </div>
          </a>
        </ul>
      </div>
    </div>
  </div>
</div>
