



<a class="btn btn-light float-right" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
  Search..<i class="material-icons prefix">search</i>
</a>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <h3>Search...</h3>
    <br>
  <form>
    <div class="form-group">
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search..." (input)="SearchCommits($event.target.value)">
    </div>
    <label class="form-check-label" for="exampleCheck1">Search by:</label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="name" (click)="setradio('message')" checked>
      <label class="form-check-label" for="exampleRadios1">
        Commit Message
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="message" (click)="setradio('name')">
      <label class="form-check-label" for="exampleRadios2">
        Author Name
      </label>
    </div>

  </form>
  </div>
</div>
<br>
<br>

<div class="container">

  <div class = "panel panel-primary">
    <h1 class="panel-heading">Commits</h1>
    <br>
    <div class="panel-body">
      <div>
        <ul class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action" *ngFor = "let commit of searchCommits">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="list-group-item-heading">{{commit.title}}</h5>
              <h6 class="list-group-item-heading">{{commit.author_name}}</h6>
              <span class="badge badge-warning badge-pill">
                  <i class="material-icons prefix">get_app</i>
                </span>
            </div>
          </a>
        </ul>
      </div>
    </div>
  </div>
</div>
